<header class="site-header">

  <div class="wrapper">

    <nav class="site-nav">
      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

    <h2 class="site-hello">Hello,</h2>

    <h1 class="site-title">I am Pier-Luc.</h1>

    <h2>JavaScript Developer &middot; Always looking for something to learn</h2>

  </div>

</header>
